@import url('http://fonts.googleapis.com/css?family=Ubuntu');
* {
    box-sizing: border-box;
}

body {
    font-family: 'ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url('https://pixabay.com/get/g19b2321fe51e3bff4daf724889914eb322770e9db0de6e170ed1375d4f52f9063872b4c9e1b6e73932dd15d764e230ef_1280.jpg') 
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading-text {
    font-size: 50px;
    color: #fff;
}